nvim/plugged
nvim/plugged/*
plugged
plugged/*
tmux/.config/tmux/plugins/*
!tmux/.config//tmux/plugins/.gitkeep
office-ergo/nvim/plugin/packer_compiled.lua
ranger/.config/ranger/plugins/ranger_udisk_menu/.git
