nvim/plugged
nvim/plugged/*
plugged
plugged/*
office-ergo/tmux/plugins/*
!office-ergo/tmux/plugins/.gitkeep
office-ergo/nvim/plugin/packer_compiled.lua
ranger/.config/ranger/plugins/ranger_udisk_menu/.git
